<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"  name="RestfulBooker_APItesting">
        <classes>
            <class name="com.restfulbooker.CRUD.UpdateBooking">
                <methods>
                    <include name="updateCreate_Booking"/>
                    <include name="updateBooking"></include>

                    <include name="deleteBooking">

                    </include>
                </methods>

            </class>
            <class name="com.restfulbooker.CRUD.CreateBooking">
                <methods>
                    <include name="createBooking"/>
                    <include name="createBooking_Negative"/>
                </methods>

            </class>
        </classes>
    </test>
</suite>